#백엔드 API요청시 사용할 URL
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api/v1

#카카오 로그인 시 사용되는 인증 URL
NEXT_PUBLIC_KAKAO_CLIENT_ID=

#카카오 로그인 완료 후 반환되는 리다이렉트 URL
NEXT_PUBLIC_KAKAO_REDIRECT_URI=http://localhost:3000/auth/login/callback
