@import "tailwindcss";
@import "../styles/tokens.css";

:root {
  --background: #000000;
  --foreground: var(--color-fg-neutral-solid);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
